Repository UnityTechnologies/open-project-1, pull requests merged in 2020-12, with the labels that each got.

#247 Upgrade to 2020.2.13b
  UOP1_Project/Assets/Art/Characters/BardHare/BardHare_Expressions.mat
  UOP1_Project/Assets/Art/Characters/PigChef/PigChef_Eyes.mat
  UOP1_Project/Assets/Art/Characters/PigChef/PigChef_Mouth.mat
  UOP1_Project/Assets/Materials/Debug_Semitransparent.mat
  UOP1_Project/Assets/Scenes/Examples/AudioExamples.unity
  UOP1_Project/Assets/Scenes/Examples/AudioExamples.unity.meta
  UOP1_Project/Assets/Settings/Graphics/ToonRendererData.asset
  UOP1_Project/Assets/Shaders/CustomHLSL/CustomLighting.hlsl
  UOP1_Project/Assets/Shaders/SubGraphs/ToonShading.shadersubgraph
  UOP1_Project/Assets/Shaders/Toon.shadergraph
  UOP1_Project/Packages/manifest.json
  UOP1_Project/Packages/packages-lock.json
  UOP1_Project/ProjectSettings/PackageManagerSettings.asset
  UOP1_Project/ProjectSettings/ProjectVersion.txt
  UOP1_Project/ProjectSettings/URPProjectSettings.asset
  UOP1_Project/ProjectSettings/VersionControlSettings.asset
  UOP1_Project/UserSettings/EditorUserSettings.asset
Labels: devlogs

#243 [Object Pool] Fix HasBeenPrewarmed Reset
  UOP1_Project/Assets/Scripts/Pool/PoolSO.cs
Labels: bug (critical)

#217 Added back recklol Dissolve effect
  UOP1_Project/Assets/Art/Effects/Dissolve.meta
  UOP1_Project/Assets/Art/Effects/Dissolve/M_Embers.mat
  UOP1_Project/Assets/Art/Effects/Dissolve/M_Embers.mat.meta
  UOP1_Project/Assets/Art/Effects/Dissolve/T_Embers.png
  UOP1_Project/Assets/Art/Effects/Dissolve/T_Embers.png.meta
  UOP1_Project/Assets/Prefabs/Effects/Dissolve.meta
  UOP1_Project/Assets/Prefabs/Effects/Dissolve/DissolveParticles.prefab
  UOP1_Project/Assets/Prefabs/Effects/Dissolve/DissolveParticles.prefab.meta
  UOP1_Project/Assets/Scripts/Effects.meta
  UOP1_Project/Assets/Scripts/Effects/DissolveHelper.cs
  UOP1_Project/Assets/Scripts/Effects/DissolveHelper.cs.meta
  UOP1_Project/Assets/Scripts/Effects/DustParticlesController.cs
  UOP1_Project/Assets/Scripts/Effects/DustParticlesController.cs.meta
  UOP1_Project/Assets/Scripts/Effects/VFXUtil.cs
  UOP1_Project/Assets/Scripts/Effects/VFXUtil.cs.meta
  UOP1_Project/Assets/Shaders/SubGraphs/Dissolve.shadersubgraph
  UOP1_Project/Assets/Shaders/SubGraphs/Dissolve.shadersubgraph.meta
  UOP1_Project/Assets/Shaders/Toon_Dissolve.shadergraph
  UOP1_Project/Assets/Shaders/Toon_Dissolve.shadergraph.meta
Labels: art

#225 hair color mask material, old lady hairdo and glass, moustache, and s…
  UOP1_Project/Assets/Art/Accessories/Curls/hairDetailMask.png
  UOP1_Project/Assets/Art/Accessories/Curls/hairDetailMask.png.meta
  UOP1_Project/Assets/Art/Accessories/Curls/hairSpecularMap.png
  UOP1_Project/Assets/Art/Accessories/Curls/hairSpecularMap.png.meta
  UOP1_Project/Assets/Art/Accessories/Curls/hair_color_mask.mat
  UOP1_Project/Assets/Art/Accessories/Curls/hair_color_mask.mat.meta
  UOP1_Project/Assets/Art/Accessories/Curls/hair_color_mask_old_lady.mat
  UOP1_Project/Assets/Art/Accessories/Curls/hair_color_mask_old_lady.mat.meta
  UOP1_Project/Assets/Art/Accessories/Moustache.meta
  UOP1_Project/Assets/Art/Accessories/Moustache/moustache.fbx
  UOP1_Project/Assets/Art/Accessories/Moustache/moustache.fbx.meta
  UOP1_Project/Assets/Art/Accessories/Moustache/moustache.mat
  UOP1_Project/Assets/Art/Accessories/Moustache/moustache.mat.meta
  UOP1_Project/Assets/Art/Accessories/Old Lady.meta
  UOP1_Project/Assets/Art/Accessories/Old Lady/glass.mat
  UOP1_Project/Assets/Art/Accessories/Old Lady/glass.mat.meta
  UOP1_Project/Assets/Art/Accessories/Old Lady/half Moon spectacle.fbx
  UOP1_Project/Assets/Art/Accessories/Old Lady/half Moon spectacle.fbx.meta
  UOP1_Project/Assets/Art/Accessories/Old Lady/oldLady.Hairdo.fbx
  UOP1_Project/Assets/Art/Accessories/Old Lady/oldLady.Hairdo.fbx.meta
  UOP1_Project/Assets/Art/Accessories/Old Lady/spectacle frame.mat
  UOP1_Project/Assets/Art/Accessories/Old Lady/spectacle frame.mat.meta
  UOP1_Project/Assets/Art/Accessories/Old Lady/spectacleFrame.fbx
  UOP1_Project/Assets/Art/Accessories/Old Lady/spectacleFrame.fbx.meta
  UOP1_Project/Assets/Art/Items/Shell bowl.meta
  UOP1_Project/Assets/Art/Items/Shell bowl/Shell_bowl.mat
  UOP1_Project/Assets/Art/Items/Shell bowl/Shell_bowl.mat.meta
  UOP1_Project/Assets/Art/Items/Shell bowl/Shell_texture.png
  UOP1_Project/Assets/Art/Items/Shell bowl/Shell_texture.png.meta
  UOP1_Project/Assets/Art/Items/Shell bowl/shell_bowl Variant.prefab
  UOP1_Project/Assets/Art/Items/Shell bowl/shell_bowl Variant.prefab.meta
  UOP1_Project/Assets/Art/Items/Shell bowl/shell_bowl.fbx
  UOP1_Project/Assets/Art/Items/Shell bowl/shell_bowl.fbx.meta
Labels: art

#211 Second whiteboxing for the beach area
  UOP1_Project/Assets/Scenes/Whiteboxing/Beach/Proposal_2.meta
  UOP1_Project/Assets/Scenes/Whiteboxing/Beach/Proposal_2/Beach.unity
  UOP1_Project/Assets/Scenes/Whiteboxing/Beach/Proposal_2/Beach.unity.meta
  UOP1_Project/Assets/Scenes/Whiteboxing/Beach/Proposal_2/Cane Big.prefab
  UOP1_Project/Assets/Scenes/Whiteboxing/Beach/Proposal_2/Cane Big.prefab.meta
  UOP1_Project/Assets/Scenes/Whiteboxing/Beach/Proposal_2/Cane Huge.prefab
  UOP1_Project/Assets/Scenes/Whiteboxing/Beach/Proposal_2/Cane Huge.prefab.meta
  UOP1_Project/Assets/Scenes/Whiteboxing/Beach/Proposal_2/Cane Med.prefab
  UOP1_Project/Assets/Scenes/Whiteboxing/Beach/Proposal_2/Cane Med.prefab.meta
  UOP1_Project/Assets/Scenes/Whiteboxing/Beach/Proposal_2/Cane Sma.prefab
  UOP1_Project/Assets/Scenes/Whiteboxing/Beach/Proposal_2/Cane Sma.prefab.meta
  UOP1_Project/Assets/Scenes/Whiteboxing/Beach/Proposal_2/Smaller.prefab
  UOP1_Project/Assets/Scenes/Whiteboxing/Beach/Proposal_2/Smaller.prefab.meta
  UOP1_Project/Assets/Scenes/Whiteboxing/Beach/Proposal_2/Tree.prefab
  UOP1_Project/Assets/Scenes/Whiteboxing/Beach/Proposal_2/Tree.prefab.meta
  UOP1_Project/Assets/Scenes/Whiteboxing/Beach/Proposal_2/Trunk.prefab
  UOP1_Project/Assets/Scenes/Whiteboxing/Beach/Proposal_2/Trunk.prefab.meta
Labels: art

#244 Hotfix for null checking Transition Target State.
  UOP1_Project/Assets/Scripts/StateMachine/Editor/TransitionTableEditor.cs
Labels: bug (important)

#252 Added Frying Pan asset
  UOP1_Project/Assets/Art/Props/FryingPan.meta
  UOP1_Project/Assets/Art/Props/FryingPan/FryingPan.fbx
  UOP1_Project/Assets/Art/Props/FryingPan/FryingPan.fbx.meta
  UOP1_Project/Assets/Art/Props/FryingPan/FryingPan.mat
  UOP1_Project/Assets/Art/Props/FryingPan/FryingPan.mat.meta
  UOP1_Project/Assets/Art/Props/FryingPan/FryingPan_Albedo.png
  UOP1_Project/Assets/Art/Props/FryingPan/FryingPan_Albedo.png.meta
  UOP1_Project/Assets/Prefabs/Props/FryingPan.prefab
  UOP1_Project/Assets/Prefabs/Props/FryingPan.prefab.meta
Labels: art

#251 Added details to furniture/tableware items and added colliders on furniture items
  UOP1_Project/Assets/Art/Props/Furniture/FurnitureTableware_Albedo.png
  UOP1_Project/Assets/Art/Props/Furniture/LinenRoundChairCollider.fbx
  UOP1_Project/Assets/Art/Props/Furniture/LinenRoundChairCollider.fbx.meta
  UOP1_Project/Assets/Art/Props/Furniture/Materials.meta
  UOP1_Project/Assets/Art/Props/Furniture/RoundTableCollider.fbx
  UOP1_Project/Assets/Art/Props/Furniture/RoundTableCollider.fbx.meta
  UOP1_Project/Assets/Art/Props/Furniture/WoodenChairCollider.fbx
  UOP1_Project/Assets/Art/Props/Furniture/WoodenChairCollider.fbx.meta
  UOP1_Project/Assets/Art/Props/Tableware/LargeBowl.fbx
  UOP1_Project/Assets/Art/Props/Tableware/LargeDish.fbx
  UOP1_Project/Assets/Art/Props/Tableware/LargeDish.fbx.meta
  UOP1_Project/Assets/Art/Props/Tableware/Materials.meta
  UOP1_Project/Assets/Prefabs/Furniture/LinenRoundChair.prefab
  UOP1_Project/Assets/Prefabs/Furniture/RoundTable.prefab
  UOP1_Project/Assets/Prefabs/Furniture/WoodenChair.prefab
  UOP1_Project/Assets/Prefabs/Furniture/WoodenTable.prefab
  UOP1_Project/Assets/Prefabs/Tableware/LargeDish.prefab
  UOP1_Project/Assets/Prefabs/Tableware/LargeDish.prefab.meta
Labels: art

#227 State Machine - Proposed fix for Issue 228
  UOP1_Project/Assets/ScriptableObjects/StateMachine/Protagonist/Conditions/IsActuallyMoving.asset
  UOP1_Project/Assets/ScriptableObjects/StateMachine/Protagonist/Conditions/IsActuallyMoving.asset.meta
  UOP1_Project/Assets/ScriptableObjects/StateMachine/Protagonist/PigChef_TransitionTable.asset
  UOP1_Project/Assets/Scripts/Characters/StateMachine/Conditions/IsActuallyMovingConditionSO.cs
  UOP1_Project/Assets/Scripts/Characters/StateMachine/Conditions/IsActuallyMovingConditionSO.cs.meta
  UOP1_Project/Assets/Scripts/Characters/StateMachine/Conditions/IsSlidingConditionSO.cs
Labels: bug (minor)

#240 [Shaders] Relocate fresnel properties & remove albedo influence on specular lights
  UOP1_Project/Assets/Art/Characters/BardHare/BardHare.mat
  UOP1_Project/Assets/Art/Characters/FryKing/FryKing.mat
  UOP1_Project/Assets/Art/Characters/PigChef/PigChef.mat
  UOP1_Project/Assets/Art/Characters/PigChef/Pig_Specular.png.meta
  UOP1_Project/Assets/Art/Characters/RockCritter/RockCritter.mat
  UOP1_Project/Assets/Art/Characters/Townsfolk_F/Townsfolk_F.mat
  UOP1_Project/Assets/Art/Characters/Townsfolk_F/townsfolk_F_Roughness.png.meta
  UOP1_Project/Assets/Art/Characters/Townsfolk_M/Townsfolk_M.mat
  UOP1_Project/Assets/Shaders/SubGraphs/Albedo.shadersubgraph
  UOP1_Project/Assets/Shaders/SubGraphs/Albedo.shadersubgraph.meta
  UOP1_Project/Assets/Shaders/SubGraphs/Albedo_Fresnel.shadersubgraph
  UOP1_Project/Assets/Shaders/SubGraphs/Albedo_Fresnel.shadersubgraph.meta
  UOP1_Project/Assets/Shaders/SubGraphs/ToonLightingModel.shadersubgraph
  UOP1_Project/Assets/Shaders/SubGraphs/ToonShading.shadersubgraph
  UOP1_Project/Assets/Shaders/Toon.shadergraph
  UOP1_Project/Assets/Shaders/Toon_DetailMaskTint.shadergraph
  UOP1_Project/Assets/Shaders/Toon_Fresnel.shadergraph
  UOP1_Project/Assets/Shaders/Toon_RandomPositionTint.shadergraph
  UOP1_Project/Assets/Shaders/Toon_Wind.shadergraph
Labels: enhancement

#230 Added trap to small testing ground
  UOP1_Project/Assets/Scenes/TestingGround_Small.unity
  UOP1_Project/Assets/Scenes/TestingGround_Small/LightingData.asset
  UOP1_Project/Assets/Scenes/TestingGround_Small/Lightmap-0_comp_dir.png
  UOP1_Project/Assets/Scenes/TestingGround_Small/Lightmap-0_comp_light.exr
  UOP1_Project/Assets/Scenes/TestingGround_Small/Lightmap-1_comp_dir.png
  UOP1_Project/Assets/Scenes/TestingGround_Small/Lightmap-1_comp_light.exr
  UOP1_Project/Assets/Scenes/TestingGround_Small/Lightmap-2_comp_dir.png
  UOP1_Project/Assets/Scenes/TestingGround_Small/Lightmap-2_comp_dir.png.meta
  UOP1_Project/Assets/Scenes/TestingGround_Small/Lightmap-2_comp_light.exr
  UOP1_Project/Assets/Scenes/TestingGround_Small/Lightmap-2_comp_light.exr.meta
  UOP1_Project/ProjectSettings/ProjectSettings.asset
Labels: enhancement

#260 Added small internal cooldown to the PlayLandParticlesAction StateAction
  UOP1_Project/Assets/Scripts/Characters/StateMachine/Actions/PlayLandParticlesActionSO.cs
Labels: enhancement

#258 Fix/LocationSO not serialized properly
  UOP1_Project/Assets/Scripts/Editor/GameSceneSOEditor.cs
Labels: bug (critical)

#221 Update ReplaceTool.cs
  UOP1_Project/Assets/Scripts/Editor/ReplaceTool.cs
Labels: editor tool

#223 "Replace" context-menu with a searchable popup
  UOP1_Project/Assets/Scripts/Editor/GameObjectPreview.cs
  UOP1_Project/Assets/Scripts/Editor/GameObjectPreview.cs.meta
  UOP1_Project/Assets/Scripts/Editor/PrefabSelectionTreeView.cs
  UOP1_Project/Assets/Scripts/Editor/PrefabSelectionTreeView.cs.meta
  UOP1_Project/Assets/Scripts/Editor/ReplaceContextMenu.cs
  UOP1_Project/Assets/Scripts/Editor/ReplaceContextMenu.cs.meta
  UOP1_Project/Assets/Scripts/Editor/ReplacePrefabSearchPopup.cs
  UOP1_Project/Assets/Scripts/Editor/ReplacePrefabSearchPopup.cs.meta
  UOP1_Project/Assets/Scripts/Editor/ReplaceTool.cs
Labels: editor tool

#256 Feature/code: Editor for ScriptableObject with events
  UOP1_Project/Assets/Scripts/Editor/ScriptableObjectHelper.cs
  UOP1_Project/Assets/Scripts/Editor/ScriptableObjectHelper.cs.meta
  UOP1_Project/Assets/Scripts/Input/Editor.meta
  UOP1_Project/Assets/Scripts/Input/Editor/InputReaderEditor.cs
  UOP1_Project/Assets/Scripts/Input/Editor/InputReaderEditor.cs.meta
Labels: editor tool

#267 "Editor window to quickly open scenes" task
  UOP1_Project/Assets/ScriptableObjects/SceneData/Resources.meta
  UOP1_Project/Assets/ScriptableObjects/SceneData/Resources/SceneAccessHolder.asset
  UOP1_Project/Assets/ScriptableObjects/SceneData/Resources/SceneAccessHolder.asset.meta
  UOP1_Project/Assets/Scripts/EditorTools/SceneAccessTool.cs
  UOP1_Project/Assets/Scripts/EditorTools/SceneAccessTool.cs.meta
  UOP1_Project/Assets/Scripts/SceneManagement/ScriptableObjects/SceneAccessHolderSO.cs
  UOP1_Project/Assets/Scripts/SceneManagement/ScriptableObjects/SceneAccessHolderSO.cs.meta
Labels: editor tool

#263 palm leaf set and lobster and hair for tavern owner
  UOP1_Project/Assets/Art/Accessories/TavernOwner/TavernOwnerHair.fbx
  UOP1_Project/Assets/Art/Props/Food.meta
  UOP1_Project/Assets/Art/Props/Food/Lobster.meta
  UOP1_Project/Assets/Art/Props/Food/Lobster/CartoonLobsterLOD1.fbx
  UOP1_Project/Assets/Art/Props/Food/Lobster/CartoonLobsterLOD1.fbx.meta
  UOP1_Project/Assets/Art/Props/Food/Lobster/CartoonLobsterLOD2.fbx
  UOP1_Project/Assets/Art/Props/Food/Lobster/CartoonLobsterLOD2.fbx.meta
  UOP1_Project/Assets/Art/Props/Food/Lobster/CartoonLobsterr.prefab
  UOP1_Project/Assets/Art/Props/Food/Lobster/CartoonLobsterr.prefab.meta
  UOP1_Project/Assets/Art/Props/Food/Lobster/CartoonLobsterrLOD0.fbx
  UOP1_Project/Assets/Art/Props/Food/Lobster/CartoonLobsterrLOD0.fbx.meta
  UOP1_Project/Assets/Art/Props/Food/Lobster/lobster.mat
  UOP1_Project/Assets/Art/Props/Food/Lobster/lobster.mat.meta
  UOP1_Project/Assets/Art/Props/Food/Lobster/lobster.png
  UOP1_Project/Assets/Art/Props/Food/Lobster/lobster.png.meta
  UOP1_Project/Assets/Art/Props/PalmLeafSet.meta
  UOP1_Project/Assets/Art/Props/PalmLeafSet/PalmLeaf.fbx
  UOP1_Project/Assets/Art/Props/PalmLeafSet/PalmLeaf.fbx.meta
  UOP1_Project/Assets/Art/Props/PalmLeafSet/PalmLeaf.mat
  UOP1_Project/Assets/Art/Props/PalmLeafSet/PalmLeaf.mat.meta
  UOP1_Project/Assets/Art/Props/PalmLeafSet/PalmLeaf2.mat
  UOP1_Project/Assets/Art/Props/PalmLeafSet/PalmLeaf2.mat.meta
  UOP1_Project/Assets/Art/Props/PalmLeafSet/PalmLeafVariant.prefab
  UOP1_Project/Assets/Art/Props/PalmLeafSet/PalmLeafVariant.prefab.meta
  UOP1_Project/Assets/Art/Props/PalmLeafSet/palmLeaf.png
  UOP1_Project/Assets/Art/Props/PalmLeafSet/palmLeaf.png.meta
Labels: art
